// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  height: 30vh;
}

h2 {
  text-align: center;
  margin: 20px
}

.banner h1 {
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container {
  width: 800px;
}

.category-name {
  text-decoration: none;
  color: white;
  &:hover {
    color:lightgrey;
  }
}
